
.main {
    padding-right: 1rem;

  }
body {
        font-family: "Montserrat";
        font-weight: lighter;

    }

img {
    width: 95%;
    padding:1em;
    margin:1em;
    max-width: 23rem;
}

.card .project{
  padding:0;
  margin:1em;
  border-style: solid;
  border-radius: 20px;
  height:95%;

  > h2 {
    border-radius: 20px 20px 0 0;
    background-image: $bgi-proj;
    text-align: center;
  }


}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-control-prev-icon {
  margin-left: -.5em;
  margin-bottom:auto;
}

.carousel-control-next-icon {
  margin-right: -.5em;
  margin-bottom:auto;
}

.carousel {
  margin: 1em;
  text-align: center;
  overflow: hidden;
}
.carousel-item {
p,h5{
  text-align: center;
}
  > img{
    object-fit: contain;
    height: 18.75rem;
    width: 100%;
    margin: auto;
}

}

h6{
  text-align: center;
  padding:.5rem
}
p{
  padding:1em;
  margin:1em;
}

.education > article> p{
  padding:0;
  margin:0;
}

article{
  padding:1em;
}

.navbar, .navbar > .nav-item {
    display: block;
  	list-style-type: none;
  	vertical-align: text-top;}


.tech, .tech > li{
display: block;}

.modal{
background-image: $bgi-modal;
background-repeat: no-repeat;
background-size: cover;}

.card{
  border-style: none;
}

a,i{
  color: $darken-blue;
  padding:.75rem;
  text-align: left;

  &:hover{
    color:$lighten-blue;}
}

i:hover, i:active{
  transform: rotate(360deg);
  transition: transform 1s;}

  form {
      margin-left: 25%;
      margin-right:25%;
      width: 50%;

  }

p:first-of-type {
	//font-family: 'Loved by the King', cursive;
	font-weight: bolder;
  margin-top:1em;}
nav{
  font-family: "Cinzel";
}

 .card-header{
   background-image: $bgi-cat;

   h2> button{
     color:black;
     font-weight: bolder;
   }


 }

button, input, textarea{
  background-color: rgb(250,250,250);
  border-width: thin;
  border-style: solid;
  border-bottom: thin solid $lighten-black;
}
.close{
  text-align: right;

}
button,
label,
input,
select,
textarea {

	font-family: inherit;
	font-size: 100%;
	box-sizing: border-box;
  color: $black;
  padding:.5em;
	display: block;
  text-align: left;
  width: 100%;
  margin: auto;}


input[type=submit] {
  width: 50%;
  color:white;
  text-align: center;
	background-color: rgb(203,50,109);}
