// Colors
$white: #ffffff;
$red: #F1352B;

$black: #000000;
$lighten-black:    lighten( $black, 30% );

$blue: #150f96;
$darken-blue:     darken( $blue, 5% );
$lighten-blue:    lighten( $blue, 20% );

$gray: #f6f5f6;
$darken-gray:     darken( $gray, 55% );

$darkest1: rgb(32, 64, 81);
$lightest1: rgb(132, 169, 172);

$darkest2: #222831;
$lightest2: #30475e;

//font sizes

$xsmal: .5rem;
$small: .75rem;
$medium: 1rem;
$large: 1.5rem;
$xlarge: 2rem;
$xxlarge: 2.5rem;

$ch-proj: #ffcb74;
$ch-cat-h: black;
$bgi-modal: linear-gradient(to bottom right, $white ,$black);
$bgi-proj: linear-gradient(to bottom right, $lightest2, black);//grey ,lightblue
$ch-cat: black;
$bgi-cat: linear-gradient(to bottom right,lightgray, $lightest2);//grey ,lavender #c1a57b
